.root {
  margin-top: 16px;
  width: 98%;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.container {
  display: flex;
  width: 100%;
  // padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.chapterContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.subtitleMd {
  color: #3D3C4399;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.subtitle {
  color: #3D3C4399;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.mainTitle {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.row {
  display: flex;
  gap: 24px;
  width: 100%;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}