.root {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 6px 16px 0px rgba(81, 49, 229, 0.25);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.mutedTitle {
  margin: 0;
  color: rgba(0, 0, 0, 0.60);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.mainTitle {
  margin: 0;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}