.root {
  all: unset;
  display: flex;

  align-items: center;
  gap: 14px;

  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  margin-left: 32px;

  &::placeholder {
    color: #858585;
    line-height: normal;
    letter-spacing: -0.32px;
  }
}

.inputWrapper {
  position: relative;
  min-width: 200px;
  padding: 12px 16px;
  border-radius: 16px;
  background: #F3F3F6;
  margin-left: 32px;
}

.icon {
  position: absolute;
  margin-top: -2px;
}